<footer class="footer mt-auto py-3 bg-dark text-light">
  <div class="container text-center">
    
    <br>
    <a href="/angie" class="text-light mx-2">Angie</a>
    <a href="/josh" class="text-light mx-2">Josh</a>
    <a href="/kp" class="text-light mx-2">Kai Peng</a>
    <a href="/myiesha" class="text-light mx-2">Myiesha</a>
    <a href="/nx" class="text-light mx-2">Ning Xin</a>
  </div>
</footer>
