.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

html,body{height: 100%;}
body {display: flex;flex-direction: column;min-height: 100vh;}
main, section {flex: 1; /* pushes footer down */}
.footer {margin-top: auto;}
#productCarousel {
  max-width: 100%; /* adjust width as needed */
  margin: auto;   /* center horizontally */
}

#productCarousel .carousel-item img {
  height: 50%; /* smaller height */
  object-fit: contain; /* keeps full image visible */
}
